//COMPONENTS

@use "components/contacto";
@use "components/index";
@use "components/preguntas-frecuentes";
@use "components/productos";
@use "components/ultimo-ingreso";

//LAYOUTS

@use "layouts/footer";
@use "layouts/header";
@use "layouts/nav";

//MEDIA-QUERIES

@use "media-queries/media-queries";

//UTILITES
@use "sass:map"; 
@use "utilities/maps";
@use "utilities/mixins.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}

header{
    margin: 0   40px    5px   40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        text-transform: uppercase;
        font-size: 128px;
        text-align: center;
        margin: 0;
    }
    a{
        color: black;
        text-decoration: none;
    }
    p{
        text-align: center;
        font-size: 40px;
        margin: 0;
    }
}

.nav-menu{
    background-color: black;
    text-align: center;
    list-style: none;
    padding: 20px 0;
    display: flex;
    justify-content: center;

    li{
        margin: 0 10px;
    }

    a{ 
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 30px;
        padding: 0 20px;
    }
}

.nav-alinear{
    text-align: center;
}

    .nav-celular{
        display: none;
        flex-direction: column;
        list-style: none;
        background-color: black;
        margin: 0;
        padding: 20px 0;
    input{
        border-radius: 10px;
        padding: 5px 50px;
        border: none;
        background-color: #D9D9D9;
    }
    
    input:focus{
        outline: none;
    }

    li{
        margin: 10px 0;
    }

    a{
        font-size: 30px;
    }
    }

    .nav-hamburguesa {
        display: none;
        font-size: 30px;
        background: none;
        border: none;
        color: gray;
        cursor: pointer;
    }

.imagen-index{
    max-width: 100%;

    img{
        width: 100%;
        margin-top: 5px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    }
}

.categorias{
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    display: flex;
    flex-flow: row nowrap;
    
    img{
        width: 40%;
        object-fit: contain;
        margin: 50px 0px 0px 0px;
    }
}

.productos-inicio{
    width: 100%;
}

.ultimos-ingresos{
    background-image: linear-gradient(to right, #f9b3f6, #f498f6, #ed7bf7, #e45cf9, #d834fb);
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-top: 50px;

    p{
        color: black;
        letter-spacing: 8px;
        font-size: 22px;
    }
}

.productos-ingresos{
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row ;
    justify-content: space-around;
    gap: 20px;

    img{
        width: 90%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.4s ease;
    }

    img:hover{
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
        filter: brightness(0.8);
        cursor: pointer;
    }
}


button{
    background-image: linear-gradient(to right, #f9b3f6, #f9a3f6, #f893f6, #f782f6, #f670f6);
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.footer{
    width: 100%;
    margin: 20px 0px  0px  0px;
    height: 100%;
}

.categorias-footer{
    max-width: 100%;
    background-color: #F2AEE7;
    color: #87137B;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-height: 100%;
}

.c1{
    display: grid;
    justify-items: start;
    align-items: start;

    p, a{
        text-align: left;
    }
}

.categorias-footer a{
    text-decoration: none;
    color: #87137B;
}

.categorias-productos{
    width: 100%;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    img{
        width: 80%;
        object-fit: contain;
        width: 90%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.4s ease;
    }

    img:hover{
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
        filter: brightness(0.8);
        cursor: pointer;
    }
}

.inicio-producto{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.inicio-preguntas-frecuentes{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.preguntas-frecuentes{
    margin: 1rem;
    text-align: left;

    h2{
        color: #DB91D3;
    }

    li{
        margin-left: 20px;
    }  
}

.productos-ultimo-ingreso p{
    font-weight: 600;
}

.imagen-index2{
    max-width: 100%;

    img{
        width: 100%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    }
}

.cuadro1{
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 20px;

    img{
        width: 90%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.4s ease;
    }

    img:hover{
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
        filter: brightness(0.8);
        cursor: pointer;
    }
}

.cuadro2{
    text-align: center;
    display: flex;
    justify-content: center;

    img{
        width: 73%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.4s ease;
    }

    img:hover{
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
        filter: brightness(0.8);
        cursor: pointer;
    }
}

.inicio-ultimo-ingreso{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.inicio-contacto{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contenedor-general-contacto{
    display: flex;
    align-items: flex-start;
}

.contacto{
    margin-left: 20px;
}

.contenedor-contacto{
    width: 80%;
    margin: 3.125rem auto;
}

.contenedor-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input{
        padding: 10px;
        width: 50%;
    }

    textarea{
        width: 50%;
        height: 150px;
        margin-bottom: 15px;
    }
}

label{
    font-weight: bold;
    text-align: left;
}

.input-contacto{
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #D9D9D9;
}

.contenedor-formulario :focus{
    outline: none;

    textarea{
        padding: 15px;
        border-radius: 10px;
        border: none;
        background-color: #D9D9D9;
    }
}

.btn-form{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to right, #f9b3f6, #f9a3f6, #f893f6, #f782f6, #f670f6);;
    margin-top: 12px;
    margin-bottom: 190px;
}

.inicio-registro{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-control{
    border-radius: 10px;
    border: none;
    background-color: #D9D9D9;
    padding: 10px;
    margin-bottom: 5px;
}

h2.text-center{
    margin-left: 20px;
}
.btn-primary{
    margin-left: 100px;
    margin-bottom: 100px;
}

.mb-3{
    margin-left: 20px;
}


/*tablet*/

@media (min-width: 768px)and (max-width: 1024px){

    .header{
        font-size: 20px;
    }

    .nav ul li a {
        padding: 0 8px;
        font-size: 20px;
    }

    .categorias img{
        width: 80%;
    }

    /*ultimo ingreso*/
    
    .cuadro2 img{
        width: 35%;
    }

    /*usuario*/
    .form-label {
        display: block; 
        margin-bottom: 8px; 
    }

    .form-control {
        display: block; 
        width: 90%; 
    }
    .btn-primary{
        margin-left: 330px;
    }
}

@media (min-width: 375px)and (max-width: 720px){
    .header{
        font-size: 15px;

    h1{
        font-size: 40px;
    }
    }

    .nav a{
        font-size: 18px;
        background-color: black;
        text-align: center;
        padding: 0 ;
        display: flex;
    }

    .nav ul {
        display: none;

    .nav-hamburguesa {
        display: block; 
    }

    .nav-celular {
        display: none; 
    }

    .nav-celular.activo {
        display: flex; 
    }
}
    .categorias{
        width: 100%;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        display: flex;
    
    img{
        width: 70%;
    }
    }

    .productos-ingresos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        justify-items: center;

    img{
        width: 80%;
    }
    }

    .categorias-productos{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .cuadro1{
        display: grid;
        gap: 10px;
        justify-items: center;
    }

    .contacto{
        margin-left: 0px;
        margin-right: 110px;
    }

    /*usuario*/
    .form-label {
        display: block; 
        margin-bottom: 8px; 
        margin-left: 10px;
        align-items: center;
    }

    .form-control {
        display: block; 
        width: 90%; 
        margin-left: 10px;
        align-items: center;
    }

    .btn-primary {
        margin-left: 130px;
    }

    .footer {
        width: 100%;
        margin: 0;  
        padding: 0;  
        position: relative; 
    }
}

@media (min-width: 320px)and (max-width: 600px){

    .header{
        img{
        width: 15px;
        height: 15px;
        }
        h1{
            font-size: 40px;
        }
        p{
            font-size: 20px;
        }
    }

    .nav a{
        font-size: 18px;
        background-color: black;
        text-align: center;
        padding: 0 ;
        display: flex;
        color: white;
        text-decoration: 0;
        margin-left: 10px;
    }

    .nav ul {
        display: none;
    }
    .nav-hamburguesa {
        display: block; 
    }

    .nav-celular {
        display: none; 
    }

    .nav-celular.activo {
        display: flex; 
    }

    .footer {
        width: 100%;
        margin: 0;  
        padding: 0;  
        position: relative; 
    }

    .productos-inicio{
        font-size: 20px;
    }

    .categorias {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .ultimos-ingresos p{
        font-size: 13px;
    }
    .productos-ingresos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .categorias-footer{
        font-size: 10px;
    }

    .btn-primary{
        margin-left: 170px;
    }
    /*productos*/

    .categorias-productos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cuadro1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor-general-contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*contacto*/
    .contacto{
        margin-right: 100px;
        margin-top: 5px;
    }

    .contenedor-formulario input{
        padding: 15px;
        width: 110%;
    textarea{
        padding: 15px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 15px;
    }
    textarea{
        height: 150px;
        resize: vertical;
    }
    }

        /*usuario*/

        .btn-primary {
            margin-left: 120px;
        }
    
        .form-label {
            display: block; 
            margin-bottom: 8px;
        }
    
        .form-control {
            display: block; 
            width: 90%; 
        }

        
}

