
.imagen-index{
    max-width: 100%;

    img{
        width: 100%;
        margin-top: 5px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    }
}

.categorias{
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    display: flex;
    flex-flow: row nowrap;
    
    img{
        width: 40%;
        object-fit: contain;
        margin: 50px 0px 0px 0px;
    }
}

.productos-inicio{
    width: 100%;
}

.ultimos-ingresos{
    background-color: black;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-top: 50px;

    p{
        color: white;
        letter-spacing: 8px;
        font-size: 22px;
    }
}

.productos-ingresos {
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    gap: 20px;

    img {
        width: 90%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    }
}

button{
    background-image: linear-gradient(to right, #f9b3f6, #f9a3f6, #f893f6, #f782f6, #f670f6);
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
}