.inicio-preguntas-frecuentes{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.preguntas-frecuentes{
    margin: 1rem;
    text-align: left;

    h2{
        color: #DB91D3;
    }

    li{
        margin-left: 20px;
    }  
}